.videosPage {
  display: flex;
  flex-direction: column;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.videoItem {
  flex: 0 1 300px;
  min-width: 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.videoName {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.videoDescription {
  margin: 10px 0;
  font-size: 1rem;
  color: #666;
  overflow-wrap: break-word;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.videoPreview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}
