.button {
  margin: 20px auto;
  width: fit-content;
  border-radius: 0.375rem;
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;

  &_disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
