.videosPage {
  display: flex;
  flex-direction: column;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.videoItem {
  flex: 0 1 300px;
  min-width: 0;
  border-radius: 6px;

  &:hover {
    .playButton {
      scale: 1.3;
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
}

.video {
  position: relative;
}

.videoName {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.videoDescription {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
  overflow-wrap: break-word;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 6px 0;
}

.videoPreview {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
