.plate {
  margin: 20px 0px;
  padding: 20px;
  border: 1px solid;
  border-radius: 8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

  &-cross {
    font-size: 32px;
    line-height: 0.6;
    cursor: pointer;
  }
}
