.badge {
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 16px;
  color: var(--color);
  background-color: var(--bgColor);
  font-size: 14px;
}
