@font-face {
	font-family: 'Trafit';
	src: local('Trafit'),
		url(Trafit.ttf);
}

@font-face {
	font-family: 'Arctika';
	src: local('Arctika'),
		url('Arctika Script.otf');
}

@font-face {
	font-family: 'Asterisk';
	src: local('Asterisk'),
		url('Asterisk Sans Variable Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'Asterisk';
	src: local('Asterisk'),
		url('Asterisk Sans Variable Regular.ttf');
	font-style: normal;
}