.lessonItem {
  display: flex;
  align-items: center;
  padding: 0.75rem 0px;
  border-bottom: 1px solid #eee;
}

.lessonsTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #1a1a1a;
}

.lessonsList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.lessonItem:last-child {
  border-bottom: none;
}
