.lessonItem {
  display: flex;
  align-items: center;
  padding: 0.75rem 0px;
  border-bottom: 1px solid #eee;
}

.lessonsTitle {
  font-size: 0.9rem;
  font-weight: 500;
}

.lessonsList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.lessonItem:last-child {
  border-bottom: none;
}
