@use "../../styles//helpers.scss";

.complexityLevels {
  background-color: #f9fafb;
}

.complexityLevelsTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
}

.complexityLevelsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  padding: 0px 20px 20px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;

  :global(.button) {
    margin-top: 20px;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
}

.cardText {
  margin-top: 1rem;
  color: #6b7280;
}

.btnPrimary {
  display: block;
  width: max-content;
  margin: 2rem auto;
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.375rem;
  text-align: center;
  transition: background-color 0.2s;
}

.card:hover .btnPrimary {
  background-color: var(--link-hover-color);
}
