@use "../../styles/helpers";

.section {
  background-color: #edeff7;
}

.steps {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);

  @include helpers.deviceWidth(toTabletLandscape) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;

  a {
    color: #4444ff;
  }
}

.stepName {
  font-size: 18px;
  text-align: center;
}

.icon {
  border-radius: 8px;
  font-size: 32px;
  width: 70px;
  height: 70px;
  padding: 10px;
  background-color: #3344ff;
  color: #fff;

  &:hover {
    position: relative;
    transform: scale(1.1);
    background-color: #4c5af8;
    cursor: pointer;
  }
}
