.nav {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(29, 27, 27, 0.1);
  height: var(--header-height);
  position: fixed;
  width: 100dvw;
  z-index: 9;
}

.navContent {
  padding: 0px var(--main-margin-X);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.navLeft {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 1rem;
  font-weight: 700;
  outline: none;
}

.navRight {
  display: flex;
  align-items: center;
  gap: 25px;
}
