@use "../../styles/helpers";

.modal {
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup {
  border: none;
  overflow: auto;
  top: 30dvh;
  
  button {
    font-size: 14px;
  }
}
