@use "../../styles/helpers.scss";

.footer {
  background-color: #101828;
  height: auto;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  color: #e7eefa;
}

.footerContent {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;

  @include helpers.deviceWidth(mobile) {
    margin: 0;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;

  h4 {
    margin: 0;
  }

  @include helpers.deviceWidth(toTabletLandscape) {
    padding: 0;
    gap: 10px;
  }
}

.icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #34f;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a {
    color: #e7eefa;
  }
}

.socLinks {
  display: flex;
  gap: 10px;
}

.socIcon {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #fff;
  }
}
