.footer {
  background-color: #e5eef8;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.footerContent {
  max-width: 80rem;
  margin: 0 auto;
}

.footerText {
  text-align: center;
  color: #6b7280;
}
