.coursesContainer {
}

.description {
  margin-bottom: 24px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-bottom: 16px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.topics {
  margin-top: 24px;
}
