@use "../../styles/helpers";

.hero {
  background: linear-gradient(to right, #e4eefc, #f4fcfc);
}

.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 50px;
  margin: 50px var(--main-mobile-margin-X);

  @include helpers.deviceWidth(fromTabletLandscape) {
    margin: 100px var(--main-margin-X);
  }
}

.left {
  display: flex;
  flex-direction: column;
  flex-grow: 3;

  @include helpers.deviceWidth(fromTabletLandscape) {
    flex-basis: 55%;
  }
}

.title {
  margin-top: 50px;
  font-size: 32px;
  font-weight: 700;
  color: #111827;
  text-align: center;

  @include helpers.deviceWidth(fromTabletPortrait) {
    text-align: left;
  }
}

.subtitle {
  margin-top: 0.75rem;
  font-size: 1rem;
  color: #6b7280;
  text-align: center;

  @include helpers.deviceWidth(fromTabletPortrait) {
    margin-top: 1.5rem;
    font-size: 1rem;
    max-width: 48rem;
    text-align: left;
  }
}

.ctaContainer {
  margin: 1.25rem auto;
  max-width: 28rem;

  @include helpers.deviceWidth(fromTabletPortrait) {
    margin: 2rem 0 0;
  }
}

.btnPrimary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.375rem;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--link-hover-color);
  }
}

.right {
  display: flex;
  align-items: center;
  flex-grow: 2;
  flex-basis: 45%;
  position: relative;

  &-plate {
    width: 100%;
    position: relative;

    aspect-ratio: 1.5;
    border-radius: 12px;
    background-image: url('/heroBack.jpg');
    background-size: cover;
    // background-color: #90baff;
    box-shadow: 16px 16px 10px 10px #8ea7cf44;

    .iconBook {
      left: 50%;
      top: 50%;
      position: relative;
      transform: translateX(-50%) translateY(-50%);
    }

    @include helpers.deviceWidth(tabletPortrait) {
      padding: 70px;

      .iconBook {
        width: 100px;
        height: 100px;
      }
    }
  }

  @include helpers.deviceWidth(toTabletPortrait) {
    display: none;
  }
}

.success {
  position: absolute;
  left: -20px;
  bottom: -10px;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 20px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 14px;
}
