.features {
}

.featuresContent {
}

.featuresGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  padding: 10px 20px 20px;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  &-icon {
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3893ee88;
    padding: 10px;
  }
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
}

.cardText {
  margin-top: 0.5rem;
  color: #6b7280;
}
