.card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
}

.priceContainer {
  margin-top: 1rem;
}

.price {
  font-size: 2.25rem;
  font-weight: 700;
  color: #111827;
}

.period {
  color: #6b7280;
}

.featuresList {
  padding-left: 0;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.featureItem {
  display: flex;
  align-items: flex-start;
}

.checkIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: #10b981;
  flex-shrink: 0;
}

.featureText {
  margin-left: 0.75rem;
  color: #6b7280;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  :global(.btnPrimary) {
    min-width: 150px;
  }
}

.btnStub {
  margin: 0;
  background-color: #2ead63;

  &:hover {
    background-color: #68bd8a;
  }
}
