@use "../styles";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --header-height: 60px;
  --text-color: #4b5563;
  --link-active-color: #2563eb;
  --link-hover-color: #6e18d1;
  --main-margin-X: 10%;
  --main-mobile-margin-X: 20px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
}

.main-section-title {
  margin: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #111827;
}

.main-section {
  > .main-section-content {
    margin: 80px var(--main-margin-X);
  }
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

.input-field {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3b82f6;
}

/* Global link styles */
a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: #6e18d1;
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}

.btnPrimary {
  background: #007bff;
  color: white;
}

.btnPrimary:hover {
  background: #0056b3;
}

.btnSecondary {
  background: #4d7cad;
  color: white;
}

.btnSecondary:hover {
  background: #4486cc;
}

.btnDisabled {
  background: #ddd;
}

.btnDisabled:hover {
  background: #ddd;
}

.btnTetriary {
  background: #636d6d;
  color: white;
}

.btnTetriary:hover {
  background: #848f8f;
}

.input-error {
  font-size: 12px;
  margin: 0;
  color: rgb(253, 116, 116);

  p {
    margin: 0;
  }
}

.input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.2s;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.input-label {
  font-size: 14px;
  color: #666;
}

.scroll-lock {
  overflow-y: hidden !important;
}

h1,
h2 {
  margin: 10px 0;
}

.container {
  padding: 40px var(--main-margin-X);
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include styles.deviceWidth(toTabletLandscape) {
    padding: 20px;
  }
}
