@use "../../styles/helpers";

.twoColumn {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  width: 100%;

  @include helpers.deviceWidth(toTabletLandscape) {
    padding: 0;
  }
}

.rightColumn {
  @include helpers.deviceWidth(tabletPortrait) {
    width: 200px;
    display: flex;
  }
}
