@use "../../styles/helpers";

.twoColumn {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  padding: 0px var(--main-margin-X);

  @include helpers.deviceWidth(toTabletLandscape) {
    flex-direction: column;
    padding: 0;
  }
}
