.modal {
  padding: 100px 50px;
  border-radius: 16px;
  max-width: 500px;
  font-size: 18px;
  line-height: 1.4;
  background-color: #fff;
  background-image: url('/fireworks.jpg');
  background-size: cover;
}