.coursesSection {
  flex-grow: 2;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.coursesTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.coursesList {
  display: grid;
  gap: 1.5rem;
  padding-bottom: 10px;
}
