.coursesSection {
  flex-grow: 2;
  padding: 20px;
  max-width: 1200px;
}

.coursesTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 24px 0;
}

.coursesList {
  display: grid;
  gap: 1.5rem;
  padding-bottom: 10px;
}
