@use "../styles/helpers.scss";

.accountCard {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  min-width: 300px;
  flex-grow: 2;
}
