@use "../../styles/helpers";

.container {
  padding: 40px var(--main-margin-X);
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include helpers.deviceWidth(toTabletLandscape) {
    padding: 20px;
  }
}
