.accordeon {
  margin-bottom: 12px;

  ::marker {
    width: 50px;
    height: 50px;
  }

  summary {
    outline: none;
    cursor: pointer;
  }
}

.link {
  img {
    margin-left: 2px;
    width: 20px;
    height: 20px;
  }
}

.title {
  white-space: nowrap;
}
