.accordeon {
  margin-bottom: 12px;

  ::marker {
    width: 50px;
    height: 50px;
  }

  summary {
    outline: none;
    cursor: pointer;
  }
}

.link {
  position: relative;

  img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
  }
}
